/* Master Styles */
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}


button {
  color: #333;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #cfd8dc;
}


/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}



/*Dashboard Styles*/


[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.dashboard a {
  text-decoration: none;
}
*, *:after, *:before {
  box-sizing: border-box;
}
.dashboard h3 {
  text-align: center; 
  margin-bottom: 0;
}

.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
@media (max-width: 600px) {
  .module {
    font-size: 1em;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}







/*Heroes styles*/
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  cursor: pointer;
  background-color: #EEE;
  margin-top: .5em;
  line-height: 40px;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .badge {
  font-size: small;
  color: white;
  padding: 0 .8em;
  background-color: #607D8B;
  border-radius: 4px 0 0 4px;
}
button.delete {
  margin-right: .6em;
  background-color: gray !important;
  color:white;
}



.add-hero label,
.add-hero input {
  margin-right: .5em;
}


/*Search styles*/

.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#search-box{
  width: 200px;
  height: 20px;
}





/*Hero Hetail*/

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}