
/*Footer*/

* {
    font-family: "Segoe UI", Arial, sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


.th-footer__dark {
    background-color: #333;
    color: #eee;
}


/*Helper classes*/
.th-min-height {
    min-height: calc(100vh - 142px);
}


/*navigation styles */

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: .5rem;
    color: darkslateblue;
    margin-left: 1rem;
}

nav a.active {
    border-bottom: 3px solid mediumvioletred;
}


.selected {
    border-bottom: 1px solid lightskyblue;
    background-color: hsla(203,92%,75%,.3);
}