/*
  Global styles
*/

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 5%;
}
button {
  color: #333;
  background-color: #eee;
  border: none;
  padding: .4em .8em;
  border-radius: 4px;
  margin-right: .4em;
}
button:hover {
  background-color: #cfd8dc;
}
label {
  display: inline-block;
  min-width: 5em;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  padding-left: .4em;
  margin-right: .4em;
}



/* 
  Navigation ltyles 
*/

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}





/*
  Dashboard Styles
*/

.hero-pad {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin: 1em 1em 0 0;
}
.dashboard h3 {
  text-align: center; 
  margin-bottom: 0;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
@media(min-width:480px) {
  .grid .col-sm-1-2 {
    width: 46%;
  }
}
@media(min-width:768px) {
  .grid .col-md-1-4 {
    width: 22.5%;
  }
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
@media (max-width: 600px) {
  .module {
    font-size: 1em;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}






/*
  Heroes styles
*/

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  display: flex;
  align-items: center;
  justify-content:space-between; 
  cursor: pointer;
  background-color: #EEE;
  margin-top: .5em;
  line-height: 40px;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .badge {
  font-size: small;
  color: white;
  padding: 0 .8em;
  background-color: #607D8B;
  border-radius: 4px 0 0 4px;
}
button.delete {
  margin-right: .6em;
  background-color: gray !important;
  color:white;
}
.add-hero label {
  margin-right: .5em;
  width: auto;
}



/*
  Search styles
*/
.search-box ul {
  padding: 0;
  margin: 0;
}

.search-box input{
  width: 200px;
  height: 20px;
}
.search-result {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
.search-result:hover {
  background: #eee;
}
.search-result a {
  text-decoration: none;
} 




/*
  Hero details
*/
.hero-details div {
  margin-bottom: 1em;
}
.hero-details div:last-of-type {
  margin-bottom: 2em;
}